absl-py==2.1.0
aiofiles==23.2.1
alembic==1.13.1
anyio==4.3.0
argcomplete==3.3.0
astunparse==1.6.3
attrs==23.2.0
autopep8==2.0.4
beautifulsoup4==4.12.3
blinker==1.7.0
boto3==1.34.39
botocore==1.34.39
Brotli==1.1.0
cachetools==5.3.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cvat_sdk==2.13.0
cycler==0.12.1
dacite==1.7.0
Deprecated==1.2.14
dill==0.3.8
dm-tree==0.1.8
dnspython==2.6.1
exceptiongroup==1.2.1
fiftyone==0.23.8
fiftyone-brain==0.16.1
fiftyone_db==1.1.2
flake8==7.0.0
Flask==3.0.2
Flask-Migrate==4.0.7
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.50.0
ftfy==6.2.0
future==1.0.0
gast==0.4.0
glob2==0.7
google-auth==2.27.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphql-core==3.2.3
greenlet==3.0.3
grpcio==1.62.2
grpcio-tools==1.62.2
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
humanize==4.9.0
Hypercorn==0.16.0
hyperframe==6.0.1
idna==3.6
imageio==2.34.1
importlib-metadata==7.0.1
importlib_resources==6.4.0
inflate64==1.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
kaleido==0.2.1
keras==2.13.1
keras-facenet==0.3.2
kiwisolver==1.4.5
lazy_loader==0.4
libclang==16.0.6
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mccabe==0.7.0
mdurl==0.1.2
mecab-python==1.0.0
mecab-python3==1.0.9
mira==0.9.23
ml-dtypes==0.2.0
mongoengine==0.24.2
motor==3.4.0
mtcnn==0.1.1
multivolumefile==0.2.3
namex==0.0.7
networkx==3.2.1
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.0
pdoc==14.4.0
pexels-api==1.0.1
pillow==10.3.0
platformdirs==4.2.1
plotly==5.22.0
pprintpp==0.4.0
priority==2.0.0
protobuf==4.23.4
protobuf3==0.2.1
psutil==5.9.8
py7zr==0.21.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybcj==1.0.2
pycodestyle==2.11.1
pycryptodomex==3.20.0
pydot==2.0.0
pyflakes==3.2.0
Pygments==2.17.2
pymongo==4.7.2
pyparsing==3.1.1
pyppmd==1.1.0
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.1
PyYAML==6.0.1
pyzstd==0.15.10
rarfile==4.2
regex==2024.5.10
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.7.0
rsa==4.9
s3transfer==0.10.0
scikit-image==0.22.0
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.24
sse-starlette==0.10.3
sseclient-py==1.8.0
starlette==0.37.2
strawberry-graphql==0.138.1
tabulate==0.9.0
tanukilib @ file:///home/neko32/dev/tanulib_py/tanulib_py/tanukilib
taskgroup==0.0.0a4
tenacity==8.3.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
texttable==1.7.0
tf-keras==2.15.0
threadpoolctl==3.5.0
tifffile==2024.5.10
tinydb==4.8.0
tomli==2.0.1
tqdm==4.66.4
tuspy==0.2.5
typing_extensions==4.5.0
tzdata==2023.4
tzlocal==5.2
unidic-lite==1.0.8
universal-analytics-python3==1.1.1
urllib3==1.26.18
validators==0.28.1
voxel51-eta==0.12.6
wcwidth==0.2.13
Werkzeug==3.0.1
wrapt==1.14.1
wsproto==1.2.0
xmltodict==0.13.0
zipp==3.17.0
