<!doctyle html>
<title>CatDog UI</title>

<script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous">
</script>
<script 
    src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js">
</script>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('show_entries') }}">Cat Dog UI</a>
        <button 
            class=""navbar-toggler" 
            type="button" 
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                {% if not session.logged_in %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('show_login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('show_predict') }}">Predict</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('show_logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="pred-hist-body">
        {% block body %} {% endblock %}
    </div>
</div>